<!-- edit-user.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Edit User</title>
    <link rel="stylesheet" href="http://localhost:3000/style.css">
  </head>
  <body>
    <h1>Edit User</h1>
 
    <form action="/users/<%= user._id %>/edit" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" value="<%= user.username %>" autocomplete="username"/>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" autocomplete="new-password" />
      <button type="submit">Save</button>
    </form>

  </body>

  <footer id="my-element">
    <hr>
    <p>Built by Jay Awoniyi &copy; <script>document.write(new Date().getFullYear())</script></p>
  </footer>

</html>
