<html>
   <head>
      <title>My EJS Template</title>
   </head>
   <body>
      <h1>Welcome to My EJS Template</h1>
  <%- include('user-info', { user: user }) %>
  
  <p>Some other content...</p>
  
  <%- include('user-info', { user: user }) %>
   </body>
</html>

